################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/kennel-bambino.web/obj
/kennel-bambino.web1/obj
